html {
  body {
    background: linear-gradient(
        0deg,
        rgba(var(--primary-rgb), 0.075) 0%,
        rgba(var(--primary-rgb), 0.075) 100%
      ),
      linear-gradient(0deg, var(--secondary) 100%, var(--secondary) 100%);
  }
  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60vw;
    background: linear-gradient(90deg, rgba(0, 220, 234, 0.08) 22.3%, rgba(205, 128, 255, 0.08) 50%);
    clip-path: ellipse(148% 70% at 91% -14%);
    filter: blur(132px);
  }
}